* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** 
para texto font-family: 'Cabin', sans-serif;
para titulo font-family: 'Cabin Sketch', cursive;
**/
/**index**/
header {
    width: 100%;
    height: 300px;
    background-image: url(../assets/img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Cabin', sans-serif;
}


h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
    font-weight: 550;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 25px;
}


h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}


.section-ingreso {
    width: auto;
    height: auto;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 20px;
    color: black;
}

.section-ingreso a {
    text-decoration: none;
}

.section-ingreso a:visited {
    color: black;
}

.section-ingreso img {
    height: 52px;
    width: 52px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}


body {
    background-color: #5534A5;
}


main {
    width: 100%;
    font-family: 'Cabin', sans-serif;
}


.section-menu {
    width: 100%;
    padding: 1%;
    font-family: 'Cabin', sans-serif;
    flex-wrap: nowrap;
}

.section-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #6FDFDF;
    text-align: center;
    gap: 10px;
}

.section-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.section-menu ul li img {
    width: 64px;
    height: 64px;
    background-color: #FFFFFF;
    object-fit: contain;
    display: flex;
    justify-content: space-evenly;
}


.section-lupa {
    width: 100%;
    background-image: url(../assets/img/mapa.jpg);
    background-size: cover;
    padding: 1%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-lupa img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.section-lupa input {
    height: 50px;
    width: 900px;
    border: none;
}

.section-lupa button {
    height: 50px;
    width: 100px;
    background-color: #FFFFFF;
    border: none;
    margin-left: 20px;
}


.section-video {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-video img {
    opacity: 0.9;
}


.section-ofertas {
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    background-color: #4B7BE5;
    font-family: 'Cabin', sans-serif;
    color: #FFFFFF;
    text-align: center;
    line-height: 2;
}

.image-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.image-1 img {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 2px;
}


.section-paquetes {
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    background-color: #6FDFDF;
    font-family: 'Cabin', sans-serif;
    color: #5534A5;
    text-align: center;
    line-height: 2;
}


footer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/mapa.jpg);
    background-repeat: no-repeat;
    /**background-size: inherit;**/
    background-position: center;
    object-fit: contain;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

.final {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    color: black;
}

.face {    
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    object-fit: cover;
}

.what {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
}

.inst {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    object-fit: cover;
}

.twit {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    object-fit: cover;
}

.dom {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    justify-self: left;
}

.tel {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: left;
    text-indent: 15px;
}

.preg-1 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    text-align: center;
    justify-self: end;
}

.preg-1 a {
    text-decoration: none
}
.preg-1 a:visited {
    color: black;
}

.preg-2 {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
    text-align: center;
    justify-self: end;
}

.preg-2 a {
    text-decoration: none
}

.preg-2 a:visited {
    color: black;
}

.celu {
    width: 100px;
    height: 100px;
    grid-column: 6 / 7;
    grid-row: 2 / 4;
    object-fit: contain;
}

.play {
    grid-column: 7 / 8;
    grid-row: 2 / 4;
    text-decoration: none;
    text-align: center;
    color: black;
}

.play a:visited {
    color: black;
}

.qr {
    width: 100px;
    height: 100px;
    object-fit: contain;
    grid-column: 8 / 9;
    grid-row: 2 / 4;
}

.trabaja {
    grid-column: 9 / 11;
    grid-row: 2 / 3;
}

.trabaja a {
    text-decoration: none;
    text-align: center;
}
.trabaja a:visited {
    color: black;
}

.inicio {
    grid-column: 9 / 11;
    grid-row: 3 / 4;
}

.inicio a {
    text-decoration: none;
    text-align: center;
}
.inicio a:visited {
    color: black;
}

h4 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    grid-column: 1 / 11;
    grid-row: 5 / 6;
}

/**paginas**/
.section-texto-1 {
    width: 100%;
    height: 200px;
    background-color: #4B7BE5;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
    line-height: 2;
}

.section-comienzo {
    text-align: left;
    margin-left: 40px;
}

.section-texto-2 {
    width: 100%;
    height: 200px;
    background-color: #6FDFDF;
    font-family: 'Cabin', sans-serif;
    color: #5534A5;
    font-size: 20px;
    text-align: left;
    margin-top: 2%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.completa-alo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-indent: 40px;
    line-height: 2;
}

.completa-alo input {
    height: 30px;
    width: 200px;
    border: none;
}

.completa-aer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-indent: 20px;
    line-height: 2;
}

.completa-aer input {
    height: 30px;
    width: 150px;
    border: none;
}

.completa-ing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-indent: 15px;
    line-height: 2;
}

.completa-ing input {
    height: 30px;
    width: 200px;
    border: none;
}

.section-buttom {
    background-color: #A85CF9;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 30px;
    width: 150px;
    border: none;
    margin-left: 20px;
}

.section-buttom-1 {
    background-color: #A85CF9;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 30px;
    width: 90px;
    border: none;
    margin-left: 10px;
}

.section-texto-3 {
    width: 100%;
    height: 100vh;
    background-color: #6FDFDF;
    font-family: 'Cabin', sans-serif;
    color: #5534A5;
    text-align: left;
    text-indent: 20px;
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (4, 1fr);
    object-fit: contain;
    padding-right: 20px;
    padding-top: 20px;
}

.prueba {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.prueba ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.prueba-1 {
    /**display: grid;**/
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: center;
    align-self: center;
}

.image-3 {
    width: 60%;
    height: 30%;
    /**grid-column: 2 / 3;
    grid-row: 2 / 4;**/
    object-fit: contain;
}

.valor-7 {
    grid-column: 3 / 3;
    grid-row: 3 / 4;
    text-align: end;
    align-items: end;
    align-self: flex-end;
}

.resaltar {
    background-color: #A85CF9;
    color: #FFFFFF;
    text-align: center;
    border: none;
    line-height: 1;
    padding-left: 30px;
}

.resaltar ul {
    list-style: none;
}

.section-texto-4 {
    width: 100%;
    height: 3000px;
    background-color: #6FDFDF;
    font-family: 'Cabin', sans-serif;
    color: #5534A5;
    text-align: left;
    text-indent: 20px;
    line-height: 1.5;
    margin-top: 2%;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    flex-wrap: nowrap;
    object-fit: contain;
}

.image-2 {
    width: 80%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    object-fit: contain;
    padding-left: 20px;
}

.ppal {
    grid-column: 9 / 11;
    grid-row: 4 / 5;
}

.ppal a {
    text-decoration: none;
    text-align: center;
}
.ppal a:visited {
    color: black;
}

/**Responsive ALOJAMIENTOS y AEREOS**/

@media (max-width:1075px) {
    .section-ingreso {
        right: 50px;
        top: 50px;
    }

    .section-menu ul {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        font-size: 20px;
    }

    .alo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .aer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .aut {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .act {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .asi {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    .atm {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .bus {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .tre {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .tra {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    .doc {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }

    .completa-alo {
        flex-direction: column;
    }

    .section-texto-2 {
        height: 700px;
        font-size: 20px;
        text-align: center;
        margin-top: 2%;
        padding-top: 30px;
        padding-bottom: 20px;
        justify-content: center;
    }
    .section-video {
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 25px;
    }
    
    .section-video img {
        opacity: 0.9;
        width: 90%;
    }
    .paq{
        margin-left: 20px;
    }
    .dom{
        grid-column: 1 / 6;
        grid-row: 2 / 3;
        text-align: left;
        text-indent: 15px;
    }
    .preg-1{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    }
    .trabaja{
        grid-column: 5 / 8;
        grid-row: 4 / 5;
    }
    .ppal{
        text-align: center;
    }
}

@media (max-width:1020px) {
.section-texto-1 {
    height: 250px;
}
.final {
    font-size: 18px;
}
.preg-2{
        grid-column: 9 / 11;
        grid-row: 2 / 3;
        justify-self: center;
}
.tel{
    grid-column: 1 / 5;
}
}

@media (max-width:820px) {
    .h4{
        grid-column: 4 / 8;
        grid-row: 5 / 6;
    }
    .preg-2{
        grid-column: 8 / 10;
        grid-row: 4 / 5;
    }
    .inicio {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }
    .ppal {
        grid-column: 8 / 11;
        grid-row: 5 / 6;
    }
    }

    @media (max-width:647px) {
        
    }

/**

@media (max-width: 320px)**/