header {
    width: 100%;
    height: 300px;
    background-image: url(../assets/img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $fuente-texto;
    nav {
        .section-ingreso {
            display: flex;
            flex-direction: column;
            color: $color-e;
            align-items: flex-end;
            gap: 10px;
            padding-right: 30px;
            padding-top: 20px;

            img {
                height: 50px;
                width: 50px;
                margin-right: 5px;
            }

            a {
                text-decoration: none;
                align-self: flex-end;

                &:visited {
                    color: $color-e;
                }
                &:hover{
                    transform: scale(1.1);
                    }
                }
            }
        }

        .tit {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;

            h1 {
                font-family: $fuente-titulo-ppal;
                font-size: 100px;
                font-weight: 550;
            }

            h2 {
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
