@media (max-width:370px) {
    main {
        .section-buttom {
            width: 120px;
        }
        .section-texto-3 {
            padding-left: 10px;
        }
        .section-texto-4 {
            height: 6500px;
        }
    }
}