.section-buttom {
    background-color: $color-f;
    color: $color-d;
    text-transform: uppercase;
    height: 30px;
    width: 150px;
    border: none;
    margin-left: 20px;
}

.section-buttom-1 {
    background-color: $color-f;
    color: $color-d;
    text-transform: uppercase;
    height: 30px;
    width: 90px;
    border: none;
    margin-left: 10px;
}