$color-a: #5534A5;
$color-b: #6FDFDF;
$color-c: #4B7BE5;
$color-d: #FFFFFF;
$color-e: black;
$color-f: #A85CF9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-a;
}